* {
  margin: 0;
  padding: 0;
}
.section1 {
  position: relative;
  background: url(../images/hero_33.jpg);
  background-repeat: no-repeat;
  height: 74vh;
}
.section2 {
  background: #fff;
  height: 26vh;
}

.custom-shape-divider-bottom-1684098205 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684098205 svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1684098205 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1684098205 svg {
    width: calc(106% + 1.3px);
    height: 143px;
  }
}

/* .headTitle-container{
  margin-top: 10%;
} */


.title-container {
  margin-top: 0px auto 0px auto;
  width: 100%;
  height: auto;
  position: absolute;
  top: 19%;
}
.head-title-1, .head-title-2{
  font-size: 95px;
  font-family:'Italiana', serif;
  font-weight: 800;
  text-align: center;
  color: #fff;
  letter-spacing: 7px;
  text-shadow: 0px 22px 7px rgba(81,67,21,0.8);

}
.head-title-1{
  letter-spacing: 7px;
}
.head-title-2{
  letter-spacing: 5px
}

.content-container {
  position: absolute;
  top: 72%;
  left: 33%;
}
.content-title {
  color: #336574;
  font-size: 40px;
  font-weight: 600;
  font-family: "Italiana", serif;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0px 12px 4px rgba(95, 147, 58, 0.8);
}

.content-paragraph {
  font-size: 20px;
  font-weight: 400;
  color: #336574;
  text-align: center;
}

.vertical-1,
.vertical-2,
.vertical-3 {
  border-left: 1px solid #336574;
  height: 120px;
  position: absolute;
  left: 26%;
  top: 32%;
  box-shadow: 2px 2px 3px;
}
.vertical-2 {
  left: 50%;
  top: 32%;
}
.vertical-3 {
  left: 76%;
  top: 32%;
}

@media screen and (max-width: 576px) {
  .section1 {
    background-size: 1088px;
  }
  .head-title-1, .head-title-2{
    font-size: 72px;
    font-weight: 700;
    text-shadow: 0px 17px 5px rgba(81,67,21,0.8);
  }

  .head-title-1{
    letter-spacing: 6px;
  }
  .head-title-2{
    letter-spacing: 4px
  }

  .content-container {
    position: absolute;
    top: 72%;
    left: -1%;
  }
  .content-title {
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 0px 9px 3px rgba(95, 147, 58, 0.8);
  }

  .vertical-1,
  .vertical-2,
  .vertical-3 {
    display: none;
  }
}

@media only screen and (min-width: 610px) and (max-width: 768px) {
  .content-container {
    position: absolute;
    top: 72%;
    left: 17%;
  }
  .vertical-1,
  .vertical-2,
  .vertical-3 {
    display: none;
  }
}
