.navbar-container{
    box-shadow: 0 8px 32px 0 rgba(31,38,135, .37);
    background-color: #fff !important;
}



/* Handle automatic dropdown */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-menu,.nav-link,#basic-nav-dropdown,.nav-button-1{
    color: #336574 !important;
}
  

.nav-menu{
    margin-right: 13px !important;
    margin-left: 8px !important;
   
}


.nav-button-2{
    background-color: #336574 !important;
}

@media screen and (max-width: 576px){
    #basic-navbar-nav{
        background-color: rgba(255,255,225, .25);
        box-shadow: 0 8px 32px 0 rgba(31,38,135, .37);
        transition: all 0.25s ease-in-out !important;
    }
    .nav-button-1, .nav-button-2{
        width: 100% !important;
    }

    /* Handle automatic dropdown */
.nav-item.dropdown:hover .dropdown-menu {
    display: list-item;
}
}